body {
	font-family: sans-serif;
	background: repeat url("img/background.png");
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	color: white;
}
a {
	text-decoration: none;
	border: none;
	color: black;
}
a:hover {
	color: #111;
}
img.btn {
	width: 40px;
	height: 40px;
}
div#CurTrack {
	height: 14px;
	font-size: 14px;
	margin-top: 2px;
	padding-bottom: 4px;
	background:repeat url('img/background.png');
}
div#Wrapper {
	margin: 0 15% 0 15%;
	text-align: center;
	background-color: white;
}
div#Time {
	height: 14px;
	font-size: 14px;
}
div#Floater {
	text-align: left;
	position: fixed;
	top: 5px;
	right: 7px;
}
span#TrackText{
	
}
span.t {
	color: green;
}
span.f {
	color: red;
}
